@import "var";
@import "features";



body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../asset/background.webp");
    background-size: cover;
    color: $color-white;

}
.container{
    width: 70vw;
    height: 40vh;
    /* background-color: green; */
    text-align: center;

    & h1{
        margin: 20px;
        // background-color: red;
    }

    & .box{
        display: flex;
        height: 20vh; 
        justify-content: space-evenly   ;
        align-items: center ;
        flex-wrap: wrap;
        padding: 5px;
        // background-color: green;    

        & .input-box{
            font-size: 20px;
            display: flex;
            flex-direction: column;
            // background-color: red;
            width: 40%;
            margin: 0 10px;
            color: white;
            
            & label{
                color: rgba(238, 233, 233, 0.84);
                margin-bottom: 5px;
                font-size: 25px;
                text-align: center;
            }

            & input{
                font-size: 25px;
                padding: 5px;
                color: white;

                &:focus{
                    box-shadow: -5px 0px 25px rgba(180, 222, 56, 0.895);
                    outline: none;
                }

                &::placeholder{
                    font-size: 15px;
                    letter-spacing: 2px;
                }
            }

        }

        

    }



}